<html>

  <head>
    <title>Kahler Carpentry</title>
    <%= stylesheet_link_tag 'main' %>
    <style type="/text/css"<>%= yield :stylesheets %></style>
  </head>

  <body>

    <div class="info"><p>cell: KL5-420-6969<br>email: the-man@kahler.com<br>address: 420 North Chronic Street, Salem Oregon, 80085</p></div>

     <%= image_tag "kahler_logo_medium.png", :alt => "Kahler Carpentry Logo" , :class => 'image' %>

    <div class="top">

         <ul class="horizontal_list">
           <li><%= button_to "About", { :action => "about" }, :class => 'button' %></li>
    
           <li><%= button_to "Contact", { :action => "contact" }, :style => "left: 10%", :class => 'button' %></li>
      
           <li><%= button_to "Gallery", { :action => "gallery" }, :style => "left: 16%", :class => 'button'  %></li>
           <li><p class="top_sentence">Need a new bed? Have some broken stairs? Call CODY!</p></li>
	   <li><p class="block">Kahler Carpentry is a master of wood work. His hot-shot team of humans and Ewoks are capable of semaingly impossible tasks that will boggle the mind, impress the ladies and scare the neighbors!</p><li>
         </ul>
                               

    </div>




  </body>

</html>
